{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <ul>
        {% for result in results %}
            <li>
                {% include "canto/partials/album_item.html" with item=result %}
            </li>
        {% endfor %}
    </ul>

    {% if results.previous_page %}
        <a href="?page={{ results.previous_page }}">{% trans "Previous page" %}</a>
    {% endif %}

    Showing page {{ results.page }} of {{ results.num_pages }} for {{ results.found }} results.

    {% if results.next_page %}
        <a href="?page={{ next_page }}">{% trans "Next page" %}</a>
    {% endif %}
{% endblock %}
