{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <div>
        {{ item.name }} ({{ item.scheme }})
        {{ item.width }}x{{ item.height }}
        <br>
        <img src="{% url "canto:binary" item.url.preview %}">
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="format" value="{{ format }}">
        <input type="submit" value="import">
    </form>


    <h2>{% trans "Previous imports of the same image" %}</h2>

    {% if previous_imports %}
        <ul>
            {% for image_model in previous_imports %}
                <li>
                    <strong>
                        {{ image_model.pk  }} - {{ image_model.format }}
                    </strong>
                    <br>
                    <img src="{{ image_model.get_thumbnail.url }}" alt="">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ image_model.pk }}" name="existing_image_model_id">
                        <input type="submit" value="Use this imported version" name="reuse">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% trans "There are no previous imports" %}
    {% endif %}


{% endblock %}
